.boardcategory{
    display: flex;
    background-color: rgb(33, 25, 81);
    /* background-color: rgb(131, 111, 255); */
    width: 92%;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.boardcategorycontent{
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
}
.boardcategorycontent h3{
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
}
.boardcategorycontent p{
    font-size: 1.1rem;
    color: rgb(212, 212, 212);
    font-weight: 500;
}
.boardcategory button{
    width: 10%;
    border: none;
    /* background-color: rgba(80, 80, 216); */
    /* background-color: rgb(33, 25, 81); */
    background-color: rgb(131, 111, 255);
    padding: 1rem;
    margin-right: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}