@keyframes shadow {
   0%{
      box-shadow: rgba(155, 155, 155, 0.71) 5px 5px 15px;
   }
   50%{
      box-shadow: rgba(21, 21, 21, 0.71) 5px 5px 15px;
   }
   100%{
      box-shadow: rgba(155, 155, 155, 0.71) 5px 5px 15px;
   }
}
.shadow{
   animation: shadow 2s infinite ease-in-out;
}
.homecontainer{
   display: flex;
   flex-direction: column;
   background-color: rgb(230, 228, 228);
   width: 80rem;
   height: auto;
   margin-left: 20.8vw;
   align-items: center;
}
.profilebtn{
   display: flex;
   position: absolute;
   right: 0;
   top: 0;
}
.profilebtn img{
   width: 3rem;
   cursor: pointer;
}
.profilebtn button{
   background: none;
   border: none;
   margin-right: 2.8vw;
   margin-top: 4vh;
}

.cover{
   width: 95%;
   height: 58vh;
   /* background-color: rgba(106, 106, 244, 0.632); */
   background-color: rgb(33, 25, 81);
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 1rem;
   border-radius: 1rem;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.covercontent{
   width: 35%;
}
.covercontent h3{
   font-size: 2.3rem;
   font-weight: bolder;
   color: white;
   text-shadow: 0.3px 0.3px black;
}
.covercontent p{
   color: rgb(203, 203, 203);
   font-size: 1rem;
   font-weight: 700;
   margin-top: 1rem;
   line-height: 1.5rem;
   font-weight: 400;
   text-shadow: 0.3px 0.3px black;
}
#landingimg{
   width: 40%;
   object-fit: contain;
   border-radius: 3rem;
   box-shadow: rgba(155, 155, 155, 0.35) 0px 5px 15px;
}
.coverbuttons{
   display: flex;
   gap: 1.5rem;
   margin-top: 1rem;
}
.coverbuttons button{
   padding: 1rem;
   font-size: 1rem;
   font-weight: 700;
   border: none;
   /* background-color: rgba(80, 80, 216); */
   background-color: rgb(131, 111, 255);
   color: white;
   border-radius: 2rem;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   cursor: pointer;
}